menu "Example Configuration"

    config ESP32MX_LED_GPIO
        int "LED GPIO number"
        default 5
        help
            Set the GPIO number used for the LED.
            Set to -1 to disable LED on a GPIO.
            Set to 99 to use the LED on the I2C bus IO Expander.
endmenu
